* {
  margin: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
  overflow: auto;
  font-family: sans-serif;
}



button {
  flex: none;
  background-color: white;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid;
}

button:hover {
  cursor: pointer;
}

button:active {
  background-color: #eef0f1;
}
