* {
  margin: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
}

.App {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: whitesmoke;
}

.business-card-builder-container {
  width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  border: 2px solid black;
  border-radius: 6px;
  padding-bottom: 40px;
}

.business-card-builder-header {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: black;
  color: white;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.business-card-builder {
  display: flex;
  gap: 30px;
  padding: 20px;
}

.user-form-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: none;
  width: 500px;
}

.user-form-header {
  text-align: left;
}

.user-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 24px;

  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
}

.input-form-field {
  display: flex;
  gap: 4px;
  justify-content: space-between;
}

button {
  align-self: flex-end;
  flex: none;
  background-color: white;
  padding: 8px;
  border-radius: 8px;
  border: 2px solid;
}

button:hover {
  cursor: pointer;
}

button:active {
  background-color: #eef0f1;
}

.business-card-preview-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 1;
}

.business-card-preview-header {
  text-align: left;
}

.business-card-preview {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 14px;
  justify-content: center;
  align-items: center;
  flex: 1;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
}

.business-card-preview-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
}

.fullName {
  font-size: 28px;
}

.company-role {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
